<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Testing</title>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>

    <div class="container"> 

  <div class="header">
    <img src="/images/logo.png" alt="Michael's Book Club" width="300" height="80">


  </div>
  <div class="content">
    <div class="summary">
      <div class="name-logout" >
        <h3></h3>
        <p><a href="/main" >Home</a> | <a href="/logout" >Logout</a> </p></div>
    </div>
    <div class="newnote">
       
        <form class="holdnote" action="/newnote" method="post">
          <input type="hidden" name="userID" value="<%= userID %>">
        <div> <input id="edittitle" class="newbook"  name="title" type="text" placeholder="Book Title" size="100" required> </div>
        <div><input id="isbn-no" class="newbook" name="isbn"  type="text" placeholder="ISBN NO" size="50" required></div>
        <div> <input id="editauthor" class="newbook" name="author" type="text" placeholder="Author Name" size="50" required></div>
        <div> <input id="editrate" class="newbook"  name="rate"  type="number" placeholder="Rating Between 1 & 10" size="200" min="1" max="10" required></div>
        <textarea class="editbook" name="summary"  rows="10" cols="100%" placeholder="Book Summary" required></textarea>
        <div> <textarea class="editbook" name="note"  rows="40" cols="100%" placeholder="Full Note" required></textarea></div>
          
        <div> <input class="newbook bookupdate"  type="submit" value="Submit" ></div>
        </form>
          
      
      
       
    </div>


  </div>
  <div class="footer">Michael's Book Note, All Right Reserved</div>


    </div>


    <script src="index.js"></script>
    
  </body>
</html>