body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='35.584' height='30.585' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23ffffffff'/><path d='M36.908 9.243c-5.014 0-7.266 3.575-7.266 7.117 0 3.376 2.45 5.726 5.959 5.726 1.307 0 2.45-.463 3.244-1.307.744-.811 1.125-1.903 1.042-3.095-.066-.811-.546-1.655-1.274-2.185-.596-.447-1.639-.894-3.162-.546-.48.1-.778.58-.662 1.06.1.48.58.777 1.06.661.695-.149 1.274-.066 1.705.249.364.265.546.645.562.893.05.679-.165 1.308-.579 1.755-.446.48-1.125.744-1.936.744-2.55 0-4.188-1.538-4.188-3.938 0-2.466 1.44-5.347 5.495-5.347 2.897 0 6.008 1.888 6.388 6.058.166 1.804.067 5.147-2.598 7.034a.868.868 0 00-.142.122c-1.311.783-2.87 1.301-4.972 1.301-4.088 0-6.123-1.952-8.275-4.021-2.317-2.218-4.7-4.518-9.517-4.518-4.094 0-6.439 1.676-8.479 3.545.227-1.102.289-2.307.17-3.596-.496-5.263-4.567-7.662-8.159-7.662-5.015 0-7.265 3.574-7.265 7.116 0 3.377 2.45 5.727 5.958 5.727 1.307 0 2.449-.463 3.243-1.308.745-.81 1.126-1.903 1.043-3.095-.066-.81-.546-1.654-1.274-2.184-.596-.447-1.639-.894-3.161-.546-.48.1-.778.58-.662 1.06.099.48.579.777 1.059.66.695-.148 1.275-.065 1.705.25.364.264.546.645.563.893.05.679-.166 1.307-.58 1.754-.447.48-1.125.745-1.936.745-2.549 0-4.188-1.539-4.188-3.939 0-2.466 1.44-5.345 5.495-5.345 2.897 0 6.008 1.87 6.389 6.057.163 1.781.064 5.06-2.504 6.96-1.36.864-2.978 1.447-5.209 1.447-4.088 0-6.124-1.952-8.275-4.021-2.317-2.218-4.7-4.518-9.516-4.518v1.787c4.088 0 6.123 1.953 8.275 4.022 2.317 2.218 4.7 4.518 9.516 4.518 4.8 0 7.2-2.3 9.517-4.518 2.151-2.069 4.187-4.022 8.275-4.022s6.124 1.953 8.275 4.022c2.318 2.218 4.701 4.518 9.517 4.518 4.8 0 7.2-2.3 9.516-4.518 2.152-2.069 4.188-4.022 8.276-4.022s6.123 1.953 8.275 4.022c2.317 2.218 4.7 4.518 9.517 4.518v-1.788c-4.088 0-6.124-1.952-8.275-4.021-2.318-2.218-4.701-4.518-9.517-4.518-4.103 0-6.45 1.683-8.492 3.556.237-1.118.304-2.343.184-3.656-.497-5.263-4.568-7.663-8.16-7.663z'  stroke-width='1' stroke='none' fill='%23f5ecefff'/><path d='M23.42 41.086a.896.896 0 01-.729-.38.883.883 0 01.215-1.242c2.665-1.887 2.764-5.23 2.599-7.034-.38-4.187-3.492-6.058-6.389-6.058-4.055 0-5.495 2.88-5.495 5.346 0 2.4 1.639 3.94 4.188 3.94.81 0 1.49-.265 1.936-.745.414-.447.63-1.076.58-1.755-.017-.248-.2-.629-.547-.893-.43-.315-1.026-.398-1.704-.249a.868.868 0 01-1.06-.662.868.868 0 01.662-1.059c1.523-.348 2.566.1 3.161.546.729.53 1.209 1.374 1.275 2.185.083 1.191-.298 2.284-1.043 3.095-.794.844-1.936 1.307-3.244 1.307-3.508 0-5.958-2.35-5.958-5.726 0-3.542 2.25-7.117 7.266-7.117 3.591 0 7.663 2.4 8.16 7.663.347 3.79-.828 6.868-3.344 8.656a.824.824 0 01-.53.182zm0-30.585a.896.896 0 01-.729-.38.883.883 0 01.215-1.242c2.665-1.887 2.764-5.23 2.599-7.034-.381-4.187-3.493-6.058-6.389-6.058-4.055 0-5.495 2.88-5.495 5.346 0 2.4 1.639 3.94 4.188 3.94.81 0 1.49-.266 1.936-.746.414-.446.629-1.075.58-1.754-.017-.248-.2-.629-.547-.894-.43-.314-1.026-.397-1.705-.248A.868.868 0 0117.014.77a.868.868 0 01.662-1.06c1.523-.347 2.566.1 3.161.547.729.53 1.209 1.374 1.275 2.185.083 1.191-.298 2.284-1.043 3.095-.794.844-1.936 1.307-3.244 1.307-3.508 0-5.958-2.35-5.958-5.726 0-3.542 2.25-7.117 7.266-7.117 3.591 0 7.663 2.4 8.16 7.663.347 3.79-.828 6.868-3.344 8.656a.824.824 0 01-.53.182zm29.956 1.572c-4.8 0-7.2-2.3-9.517-4.518-2.151-2.069-4.187-4.022-8.275-4.022S29.46 5.486 27.31 7.555c-2.317 2.218-4.7 4.518-9.517 4.518-4.8 0-7.2-2.3-9.516-4.518C6.124 5.486 4.088 3.533 0 3.533s-6.124 1.953-8.275 4.022c-2.317 2.218-4.7 4.518-9.517 4.518-4.8 0-7.2-2.3-9.516-4.518-2.152-2.069-4.188-4.022-8.276-4.022V1.746c4.8 0 7.2 2.3 9.517 4.518 2.152 2.069 4.187 4.022 8.275 4.022s6.124-1.953 8.276-4.022C-7.2 4.046-4.816 1.746 0 1.746c4.8 0 7.2 2.3 9.517 4.518 2.151 2.069 4.187 4.022 8.275 4.022s6.124-1.953 8.275-4.022c2.318-2.218 4.7-4.518 9.517-4.518 4.8 0 7.2 2.3 9.517 4.518 2.151 2.069 4.187 4.022 8.275 4.022s6.124-1.953 8.275-4.022c2.317-2.218 4.7-4.518 9.517-4.518v1.787c-4.088 0-6.124 1.953-8.275 4.022-2.317 2.234-4.717 4.518-9.517 4.518z'  stroke-width='1' stroke='none' fill='%2393d5f4ff'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
   




}
.container {
width: 95%;
min-height: 100vh;
overflow: hidden;
border-left: 2px solid #010172;
border-right: 2px solid #010172;
box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
background-color: #F2F2F2;
display: grid;
grid-template-rows: 100px auto 50px;
font-family: 'Open Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header {
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold ;
    border-bottom: 2px solid white;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #010172;
    


}
ul { 
   
    align-items: right;
    float: right;
    padding-right: 20px;
  

}
.header li {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    color: black!important;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;

    

}
 .header li:hover {
    background-color: #63d0de;
    color: white;
    }
.content {
    padding: 10px;
    display: grid;
    height: auto;
    grid-template-rows: auto auto;

}
.main {
    display: grid;
    grid-template-columns: 30% 68%;
    gap: 20px;
    padding: 0;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    


}
.back-home {
    display: flex;
    width: 80%;
    align-items: center;
    padding: 15px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2px;
    text-align: center;
    background-color: #010172;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    
}

.back-home:hover {
    background-color: #63d0de;
}

.back-home a {
    color: white;
    text-decoration: none;
}
.back-home a:before {
    content: "← ";
}

.holdimg {
    height: 400px;
}
.holdcontent {
    height: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}
.holdnote {
    white-space: pre-wrap;
}
.holdedit {
    display: grid;
    grid-template-columns: 20% 70%;

}
.holdall {
    margin-bottom: 20px;

}
.welcome {
    color: brown;
}

.newnote {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 10% 10% 50% 10% ;
    height: auto;
    gap: 20px;
    padding: 0;
}
.newbook {
    margin: 2px;
    margin-left: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.openlibcov {
    margin: 2px;
    margin-left: 50px;
}
textarea{
    margin-left: 50px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    resize:none;
    font-family: 'Open Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
select{
    margin-left: 50px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.main img {
    width: 100%; 
    height: 90%;
    border: 4px black!important;
    border-radius: 5px;

}

.admin-login {
    
    display: flex;
    align-items: center;
    justify-content: center;


}
.name-logout {
    display: grid;
    grid-template-columns: 60% 40%;

}
.nav-links a:hover {
    text-decoration: none;
    color: brown;
    font-weight: bold;

}
.nav-links {
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    font-weight: bold;

}
.blue-text {
    color: #010172;
}
.blue-text a {
    color: #010172;
}
.blue-texti {
    font-style: italic;
}
.logon {
    width: 500px;
    min-height: 400px;
    background-color: white;
    border: 4px solid rgb(99, 208, 222);
    border-radius: 15%;
    display: grid;
    grid-template-rows: 10% 90%;
    gap: 20px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow:0px 2px 4px black;

}
.details {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20%  20% 20% 20% 20%;
    gap: 10px;
    margin-top: 60px;
    


}
a {
 text-decoration: none;
 color: brown;
}
.logon-head {
    padding-left: 15px;
}
.dlabel {
    text-align: right;
    padding: 15px;

}
input {
    padding: 15px;
    border-radius: 10px;

}
.button {
    background-color: rgb(99, 208, 222);
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
    margin-top: 20px;

}

.bookupdate {
    background-color: #010172;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
    margin-top: 20px;
    color: white;

}
.pagination {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin: 2rem 0;
}
.pagination a {
  padding: 0.5rem 1rem;
  background: #63d0de;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}
.pagination span {
  padding: 0.5rem 1rem;
  background: #010172;
  color: #fff;
  border-radius: 6px;
  font-weight: bold;
}


.footer{
    display: block;
 
        padding: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        font-weight: bold ;
        border-top: 2px solid white;
        text-align: center;
        background-color: #010172;
    
    

}
@media (min-width: 400px) and (max-width: 1000px) {

    .container {
        width: 80%;
        min-height: 100vh;
        overflow: hidden;
        border-left: 4px solid #010172;
        border-right: 4px solid #010172;
        background-color: #F2F2F2;
        display: grid;
        grid-template-rows: auto auto 50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

    .header {
        padding-left: 10px;
        height: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        font-weight: bold ;
        border-bottom: 2px solid white;
        display: flex;
        flex-direction: column;
        background-color: #010172;
        
    
    
    }
    ul { 
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 5px;

      
    
    }
    .header li {
        margin: 0 10px;
        width: 100%;

        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        padding: 10px;
        color: black!important;
        background-color: white;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0;


    }
    .header li:hover {
        background-color: #63d0de;
        color: white;
    }
    .content {
        padding: 10px;
        display: grid;
        height: auto;
        grid-template-rows: auto auto auto;
    
    }
    .main {
        display: flex;
        flex-direction: column;
        flex-basis: 30% 70% ;
        gap: 20px;
        padding: 0;
        margin-bottom: 30px;
        border-bottom: 1px solid black;
        
    
    
    }
    .newnote {

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 10% 10% 10% 50% 10% ;
        height: auto;
        gap: 20px;
        padding: 0;
    }
    .name-logout {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .holdimg {
        height: 400px;
    }
    .holdcontent {
        height: auto;
    
    
    }
    .holdedit {
        display: grid;
        grid-template-rows: 20% 70%;
    
    }
    .holdall {
        margin-bottom: 20px;
    
    }
    .welcome {
        color: brown;
    }
    
    .newnote {
        display: grid;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 10% 10% 10% 10% 50% 10% ;
        height: auto;
        gap: 5px;
        padding: 0;
    }
    .newbook {
        margin: 20px;
    
    }
    input, textarea, select{
        width: 90%;
        margin-left: 10px;
        padding: 15px;
        border-radius: 10px;
    }
    
    .main img {
        width: 100%; 
        height: 90%;
        border: 4px black;
        border-radius: 5px;
    
    }
    
    .admin-login {
        
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        width: 100%;

    
    
    }
    .logon {
        width: 500px;
        min-height: 400px;
        background-color: white;
        border: 4px solid rgb(99, 208, 222);
        border-radius: 15%;
        display: grid;
        grid-template-rows: 10% 90%;
        gap: 20px;
        padding: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        box-shadow:0px 2px 4px black;
    
    }
    .details {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 20%  20% 20% 20% 20%;
        gap: 10px;
        margin-top: 60px;
        
    
    
    }
    a {
     text-decoration: none;
     color: brown;
    }
    .logon-head {
        padding-left: 15px;
    }
    .dlabel {
        text-align: right;
        padding: 15px;
    
    }
    input {
        padding: 15px;
        border-radius: 10px;
    
    }
    .button {
        background-color: rgb(99, 208, 222);
        padding-left: 40px;
        padding-right: 40px;
        font-weight: bold;
        margin-top: 20px;
    
    }
    
    .bookupdate {
        background-color: #010172;
        padding-left: 40px;
        padding-right: 40px;
        font-weight: bold;
        margin-top: 20px;
    
    }
    .holdedit {
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
    }


}